.start{
  margin-top:60px;
}

body{
  margin:80px 0 100px 0;
}


/*底部样式设计*/

.navbar-footer-menu{
 list-style:none;
  margin:0;
  padding:0;
}
.navbar-footer-menu li{

  display:inline-block;
  width:30%;
  line-height: 60px;
  text-align: center;

}

/*设置tbody 中的内容居中对齐(myOrder)*/
.myOrderTextStyle td{
  vertical-align: middle !important;
}