<div ng-include=" 'tpl/include/header.html'"></div>



<div class="container">
  <!--搜索框的设计-->
  <div class="form-group has-feedback search">
    <input type="text" name="searchKey"  class="form-control" placeholder="输入菜品名或者原材料的名称"/>
    <span class="form-control-feedback glyphicon glyphicon-search"></span>
  </div>

  <div>
    <div class="list-group">
      <a href="#/detail/{{tmp.did}}" class="list-group-item" ng-repeat="(key,tmp) in list">
        <div class="media">
          <div class="media-left media-middle">
            <img class="media-object" ng-src="img/{{tmp.img_sm}}" alt=""/>
          </div>
          <div class="media-body">
            <h3> {{tmp.name}}</h3>
            <h5> {{tmp.material}}</h5>
            <h5> ￥{{tmp.price}}</h5>
          </div>
        </div>
      </a>
    </div>

    <div class="list-group">
      <span class="list-group-item text-center text-danger"
            ng-repeat="(key,tmp) in list" ng-show="(tmp.did>=totalNum)">乜有没多数据了
      </span>
    </div>
    <input class="btn btn-block btn-success" ng-click="loadMore()"  value="load more"/>
  </div>



</div>


<div ng-include="'tpl/include/footer.html'"></div>